<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Courier+Prime&family=Montserrat:wght@200&family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Incrição Maratona</title>
</head>
<body>

    <header>
        <img src="../static/baloes_coloridos.png" alt="baloes" width="8%">
        <img src="../static/puc-goias.svg" alt="logo_puc" width="10%">
    </header>

    <main>
        <h1>Inscreva-se na Maratona de Programação PUC-GO</h1>
        <h2>Será no dia XX/XX/XX. Não perca!</h2>
        <form id="formulario" action="/register" method="post">
            <fieldset class="fieldset-nome-time">
                <legend>Nome do time</legend>

                <input type="text" class="int" id="nome_time" name="nome_time" placeholder="ex: bolinha amarela" required autocomplete="off" maxlength="50">
            </fieldset>

            <fieldset class="nome-integrantes">
                <legend>Número de matrícula dos integrantes</legend>

                <input type="text" class="int" id="primeiro_int" name="primeiro_int" placeholder="sem ponto ou traço" required autocomplete="off" maxlength="14" pattern="[0-9]{14}"><br>

                <input type="text" class="int" id="segundo_int" name="segundo_int" placeholder="sem ponto ou traço" required autocomplete="off" maxlength="14" pattern="[0-9]{14}"><br>

                <input type="text" class="int" id="terceiro_int" name="terceiro_int" placeholder="sem ponto ou traço" required autocomplete="off" maxlength="14" pattern="[0-9]{14}"><br>
            </fieldset>

            <fieldset class="email-time">
                <legend>E-mail padrão do time</legend>

                <input type="email" class="int" id="email" name="email_time" placeholder="abcde@dominio.com" required autocomplete="off" maxlength="50">
            </fieldset>

            <fieldset class="nivel-time">
                <legend>Nível que o time irá competir</legend>

                <div class="container-nivel">
                    <label for="radio-iniciante">
                        <input type="radio" name="nivel" value="Iniciante" id="radio-iniciante" required>Iniciante
                    </label><br>

                    <label for="radio-intermediario">
                        <input type="radio" name="nivel" value="Intermediário" id="radio-intermediario" required>Intermediário
                    </label><br>

                    <label for="radio-avancado">
                        <input type="radio" name="nivel" value="Avançado" id="radio-avancado" required>Avançado
                    </label>
                </div>
            </fieldset>

            <button class="submeter">Inscrever Time</button>
        </form>
        <div class="resultado_div">
            <p style="--cor-bg-principal: {{cor}};color: var(--cor-bg-principal);" id="resultado">{{resultado}}</p>
        </div>

    </main>

    <footer>
        <p>Ferramentas de Teste(Grupo 8):</p>
        <p>Bruno, Eugênio, Raissa</p>
    </footer>

</body>

<script type="text/javascript" src="../static/script.js"></script>

</html>