<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Courier+Prime&family=Montserrat:wght@200&family=Noto+Sans&display=swap" rel="stylesheet">
        <title>Time Inscrito</title>

        <style>
            body {
                margin: 0;
                font-family: 'Noto Sans', sans-serif;
                font-size: 20px;
                text-align: center;
                color: rgb(0, 180, 0);
            }
        </style>
    </head>

    <body>
        <h1>Time {{nome}} inscrito com sucesso no nível {{nivel}}!</h1>
        <img src="../static/baloes_azuis.png" alt="baloes" width="9%">
    </body>
</html>