body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

header {
    background-color: rgb(31, 31, 31);
}

main {
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
}

legend {
    font-weight: 800;
    background-color: white;
    border-radius:5px;
}

fieldset {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

.fieldset-nome-time {
    background-color: orange;
}

.nome-integrantes {
    background-color: rgb(0, 191, 255);
}

.email-time {
    background-color: #ff2323;
}

.nivel-time {
    background-color: orange;
}

.container-nivel {
    margin-left: 37%;
    margin-right: 37%;
    text-align: left;
}

.int {
    font-size: 20px;
    width:400px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.submeter {
    background-color: #ff2323;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}

.submeter:hover {
    background-color: #ff6060;
}

.submeter:active {
    background-color: #990000;
}

.resultado_div {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    font-weight: bold;
}

footer {
    font-size: 15px;
    font-weight: 100;
    color: white;
    background-color: black;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}